extends layout

block content
  .container
    h1 Blog Page
    p.lead Do you want to add new post?
    br
    form(role='form', action="/blog",method="post", style='max-width: 300px;')
      button.btn.btn-default(type='submit') Yes
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
  .container
    h1 Latest Posts
    br
    p
      for post in posts
        h2 #{post.title}
        p= post.body
        p Written by #{post.author}
        p tags: 
          for tag in post.tags
            span #{tag}, &nbsp;
        p published: #{post.date}
        br